## Group Project - Investment Case Study
   #### Group Members:
    -  Vinayak Bandhu
    -  Sarathbabu Sankaran
    -  Puneet Agarwal
    -  Rakesh Gorai

# Checkpoint 1 : Data Cleaning

In [504]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [505]:
import pandas as pd
import numpy as np

###  1.1:  Importing data from companies and rounds2 datasets

In [506]:
#importing data from companies.txt
companies = pd.read_csv("companies.txt",sep='\t', engine = "python")

#remove unwanted characters
companies.loc[:,'permalink'] = companies['permalink'].str.encode('utf-8').str.decode('ascii', 'ignore').str.lower()
companies.loc[:,'name'] = companies['name'].str.encode('utf-8').str.decode('ascii', 'ignore').str.lower()

#importing data from rounds2.csv
rounds2   = pd.read_csv("rounds2.csv",engine = "python")

#remove unwanted characters
rounds2.loc[:,'company_permalink'] = rounds2['company_permalink'].str.encode('utf-8').str.decode('ascii','ignore').str.lower()

 ### 1.2:  Counting unique values and Inspecting

In [507]:
#count number of unique rows in companies and rounds2 dataframes
print(companies.loc[:,"permalink"].nunique())
print(rounds2.loc[:,"company_permalink"].nunique())

66368
66368

In [508]:
#inspect the companies dataframe 
print(companies.shape)
print(companies.info())
print(companies.describe())

(66368, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB
None
                                permalink   name                homepage_url  \
count                               66368  66367                       61310
unique                              66368  66037                       61191
top     /organization/kezar-life-sciences  spire  http://www.askforoffer.com
freq                                    1      4                           5

       category_list     status country_code state_code       region  \
count          63220      66368        59410      57821        58338
unique         27296          4          137        311         1092
top         Software  operating          USA         CA  SF Bay Area
freq            3995      53034        37601      12900         8804

                 city  founded_at
count           58340       51147
unique           5111        3978
top     San Francisco  01-01-2012
freq             3526        2730

In [509]:
#inspect the rounds2 dataframe
print(rounds2.shape)
print(rounds2.info())
print(rounds2.describe(include = 'all'))

(114949, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB
None
               company_permalink  \
count                     114949
unique                     66368
top     /organization/solarflare
freq                          19
mean                         NaN
std                          NaN
min                          NaN
25%                          NaN
50%                          NaN
75%                          NaN
max                          NaN

                                funding_round_permalink funding_round_type  \
count                                            114949             114949
unique                                           114949                 14
top     /funding-round/ee5c816c48fef783793ff6f5571c538e            venture
freq                                                  1              55494
mean                                                NaN                NaN
std                                                 NaN                NaN
min                                                 NaN                NaN
25%                                                 NaN                NaN
50%                                                 NaN                NaN
75%                                                 NaN                NaN
max                                                 NaN                NaN

       funding_round_code   funded_at  raised_amount_usd
count               31140      114949       9.495900e+04
unique                  8        5033                NaN
top                     A  01-01-2014                NaN
freq                14747         779                NaN
mean                  NaN         NaN       1.042687e+07
std                   NaN         NaN       1.148212e+08
min                   NaN         NaN       0.000000e+00
25%                   NaN         NaN       3.225000e+05
50%                   NaN         NaN       1.680511e+06
75%                   NaN         NaN       7.000000e+06
max                   NaN         NaN       2.127194e+10

In [510]:
#checking for companies which are not in rounds2 dataframe
companies.loc[~companies['permalink'].isin(rounds2['company_permalink']),:]

Empty DataFrame
Columns: [permalink, name, homepage_url, category_list, status, country_code, state_code, region, city, founded_at]
Index: []

### 1.3: Merging the companies and rounds2 dataframe to create master_frame dataframe

In [511]:
# merge the companies and rounds2 dataframe. Since the name of common column in both the dataframe is not same,
# the name of company_permalink is renamed to permalink to remove the duplication of column in master_frame
master_frame = pd.merge(companies,rounds2.rename(columns={'company_permalink':'permalink'}), how = 'inner', on = 'permalink' )

In [512]:
#inspect the master frame
print(master_frame.shape)
print(master_frame.info())
print(master_frame.describe(include = 'all'))

(114949, 15)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
permalink                  114949 non-null object
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(14)
memory usage: 14.0+ MB
None
                       permalink                       name  \
count                     114949                     114948
unique                     66368                      66037
top     /organization/solarflare  solarflare communications
freq                          19                         19
mean                         NaN                        NaN
std                          NaN                        NaN
min                          NaN                        NaN
25%                          NaN                        NaN
50%                          NaN                        NaN
75%                          NaN                        NaN
max                          NaN                        NaN

                     homepage_url  category_list     status country_code  \
count                      108815         111539     114949       106271
unique                      61191          27296          4          137
top     http://www.solarflare.com  Biotechnology  operating          USA
freq                           19           8165      90153        72308
mean                          NaN            NaN        NaN          NaN
std                           NaN            NaN        NaN          NaN
min                           NaN            NaN        NaN          NaN
25%                           NaN            NaN        NaN          NaN
50%                           NaN            NaN        NaN          NaN
75%                           NaN            NaN        NaN          NaN
max                           NaN            NaN        NaN          NaN

       state_code       region           city  founded_at  \
count      104003       104782         104785       94428
unique        311         1092           5111        3978
top            CA  SF Bay Area  San Francisco  01-01-2012
freq        26664        19078           7422        4642
mean          NaN          NaN            NaN         NaN
std           NaN          NaN            NaN         NaN
min           NaN          NaN            NaN         NaN
25%           NaN          NaN            NaN         NaN
50%           NaN          NaN            NaN         NaN
75%           NaN          NaN            NaN         NaN
max           NaN          NaN            NaN         NaN

                                funding_round_permalink funding_round_type  \
count                                            114949             114949
unique                                           114949                 14
top     /funding-round/ee5c816c48fef783793ff6f5571c538e            venture
freq                                                  1              55494
mean                                                NaN                NaN
std                                                 NaN                NaN
min                                                 NaN                NaN
25%                                                 NaN                NaN
50%                                                 NaN                NaN
75%                                                 NaN                NaN
max                                                 NaN                NaN

       funding_round_code   funded_at  raised_amount_usd
count               31140      114949       9.495900e+04
unique                  8        5033                NaN
top                     A  01-01-2014                NaN
freq                14747         779                NaN
mean                  NaN         NaN       1.042687e+07
std                   NaN         NaN       1.148212e+08
min                   NaN         NaN       0.000000e+00
25%                   NaN         NaN       3.225000e+05
50%                   NaN         NaN       1.680511e+06
75%                   NaN         NaN       7.000000e+06
max                   NaN         NaN       2.127194e+10

In [513]:
# Checking the null count in each column
master_frame.isnull().sum()

permalink                      0
name                           1
homepage_url                6134
category_list               3410
status                         0
country_code                8678
state_code                 10946
region                     10167
city                       10164
founded_at                 20521
funding_round_permalink        0
funding_round_type             0
funding_round_code         83809
funded_at                      0
raised_amount_usd          19990
dtype: int64

In [514]:
#checking the null count in each row
master_frame.isnull().sum(axis = 1)

0         1
1         1
2         1
3         5
4         0
5         2
6         3
7         1
8         1
9         1
10        0
11        1
12        0
13        1
14        2
15        1
16        1
17        4
18        2
19        2
20        1
21        1
22        1
23        2
24        1
25        1
26        1
27        1
28        0
29        1
         ..
114919    1
114920    0
114921    1
114922    1
114923    1
114924    1
114925    1
114926    1
114927    2
114928    1
114929    1
114930    1
114931    0
114932    2
114933    2
114934    2
114935    2
114936    1
114937    0
114938    1
114939    1
114940    1
114941    1
114942    1
114943    1
114944    1
114945    1
114946    6
114947    1
114948    6
Length: 114949, dtype: int64

In [515]:
#Checking the %age of null in each column
round(100* master_frame.isnull().sum()/len(master_frame.index),2)

permalink                   0.00
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

In [516]:
#master_frame_temp = master_frame.drop(['funding_round_code','homepage_url','founded_at', 'funded_at', 'funding_round_permalink'],axis=1,inplace=False)
#round(100*(master_frame_temp.isnull().sum()/len(master_frame_temp.index)), 2)

Since raised_amount_usd has 17.39 percentage of null values and the investment analysis requires funding amount.
Hence dropping these rows.

In [517]:
#dropping the rows which have null value for raised_amount_usd
#master_frame_temp = master_frame_temp[~np.isnan(master_frame_temp['raised_amount_usd'])]
master_frame_temp = master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [518]:
round(100*(master_frame_temp.isnull().sum()/len(master_frame_temp.index)), 2)

permalink                   0.00
name                        0.00
homepage_url                4.56
category_list               1.10
status                      0.00
country_code                6.16
state_code                  8.01
region                      7.42
city                        7.42
founded_at                 16.81
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         70.34
funded_at                   0.00
raised_amount_usd           0.00
dtype: float64

In [519]:
#master_frame_temp = master_frame_temp[master_frame_temp.isnull().sum(axis=1) <5]

In [520]:
#round(100*(master_frame_temp.isnull().sum()/len(master_frame_temp.index)), 2)

#### Change the unit of columns:
Convert the unit of the `raised_amount_usd` column from `USD` to `million USD`.

In [521]:
master_frame_temp['raised_amount_mn_usd'] = master_frame_temp['raised_amount_usd'].apply(lambda x : x/1000000)

# Checkpoint 2: Funding Type Analysis

### 2.1: Average funding in Investment Types

In [522]:
group_by_funding_round_type = master_frame_temp.groupby('funding_round_type')
average_frtype = pd.DataFrame(group_by_funding_round_type['raised_amount_mn_usd'].mean())

In [523]:
average_frtype.loc[['venture','angel','seed','private_equity']].sort_values(by = 'raised_amount_mn_usd', ascending = False)

                    raised_amount_mn_usd
funding_round_type
private_equity                 73.308593
venture                        11.748949
angel                           0.958694
seed                            0.719818

Here the `venture` is the second highest investment type with raised_amount_mn_usd and falls under the 5 to 15 M USD window of Spark Funds. Hence this is the most suitable investment type for Spark Funds.

In [535]:
master_frame_country = master_frame_temp.loc[master_frame_temp['funding_round_type'] == 'venture', :]

In [536]:
#Check the null percentage in each column in the master_frame_country dataframe
round(100*(master_frame_country.isnull().sum()/len(master_frame_country.index)), 2)

permalink                   0.00
name                        0.00
homepage_url                5.19
category_list               1.00
status                      0.00
country_code                4.21
state_code                  5.70
region                      5.40
city                        5.40
founded_at                 19.17
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         44.17
funded_at                   0.00
raised_amount_usd           0.00
raised_amount_mn_usd        0.00
dtype: float64

In [537]:
#Check the count null values in each column in master_frame_country dataframe
master_frame_country.isnull().sum()

permalink                      0
name                           0
homepage_url                2608
category_list                502
status                         0
country_code                2117
state_code                  2861
region                      2713
city                        2713
founded_at                  9631
funding_round_permalink        0
funding_round_type             0
funding_round_code         22185
funded_at                      0
raised_amount_usd              0
raised_amount_mn_usd           0
dtype: int64

In [538]:
#Checking the number of rows for which all the state_code, region, city and country_code columns are null
len(master_frame_country.loc[(master_frame_temp['region'].isnull() & master_frame_temp['city'].isnull() & master_frame_temp['state_code'].isnull() & master_frame_temp['country_code'].isnull())].index)

2117

Since the number of rows for which all the state_code, region, city and country_code columns are null is `2117` which is same as the number of number of rows with null value in country_code. Hence it is not possible to impute date from any of these columns to country_code. Hence dropping the country_code rows with null value rather than imputing it with the mode

# Checkpoint 3: Country Analysis

### 3.1: Cleaning the dataset for unvailable country code

In [551]:
#dropping the rows with null values in country_code column.
master_frame_country = master_frame_country[~(master_frame_country['country_code'].isnull())]

In [552]:
#Checking the number of null values in each column in master_frame_country dataframe.
master_frame_country.isnull().sum()

permalink                      0
name                           0
homepage_url                2175
category_list                302
status                         0
country_code                   0
state_code                   744
region                       596
city                         596
founded_at                  8551
funding_round_permalink        0
funding_round_type             0
funding_round_code         21294
funded_at                      0
raised_amount_usd              0
raised_amount_mn_usd           0
dtype: int64

In [553]:
#Checking the percentage of null values in each column in master_frame_country dataframe.
round(100*(master_frame_country.isnull().sum()/len(master_frame_country.index)), 2)

permalink                   0.00
name                        0.00
homepage_url                4.52
category_list               0.63
status                      0.00
country_code                0.00
state_code                  1.55
region                      1.24
city                        1.24
founded_at                 17.77
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         44.26
funded_at                   0.00
raised_amount_usd           0.00
raised_amount_mn_usd        0.00
dtype: float64

In [554]:
#master_frame_country = master_frame_country.drop(['state_code','region', 'city'],axis=1,inplace=False)
#round(100*(master_frame_country.isnull().sum()/len(master_frame_country.index)), 2)

In [555]:
#master_frame_country.isnull().sum()

### 3.2: Grouping countries on the basis of Total funding

In [556]:
#Grouping the dataframe by country_code and calculating the total investment in each country
group_by_country = master_frame_country.groupby('country_code')

#Sorting the countries based on the total investment amount from top to down
total_amount_per_country = pd.DataFrame(group_by_country['raised_amount_mn_usd'].sum()).sort_values(by = "raised_amount_mn_usd",ascending = False)

In [557]:
#Finding the top 9 countries with highest amount of investment
top9 = total_amount_per_country.iloc[:9,:]
top9

              raised_amount_mn_usd
country_code
USA                  422510.842796
CHN                   39835.418773
GBR                   20245.627416
IND                   14391.858718
CAN                    9583.332317
FRA                    7259.536732
ISR                    6907.514579
DEU                    6346.959822
JPN                    3363.676611

# Checkpoint 4: Sector Analysis 1

In the top9 dataframe, the top 3 countries with English as an official language are `USA`, `GBR` and `IND`.

In [558]:
#Creating a new data frame sector_df with the 3 countries USA, GBR and IND
sector_df = master_frame_country.loc[(master_frame_country['country_code'] == 'USA') | (master_frame_country['country_code'] == 'GBR') | (master_frame_country['country_code'] == 'IND')]

In [559]:
sector_df.isnull().sum()

permalink                      0
name                           0
homepage_url                1857
category_list                215
status                         0
country_code                   0
state_code                    73
region                       158
city                         158
founded_at                  6326
funding_round_permalink        0
funding_round_type             0
funding_round_code         17816
funded_at                      0
raised_amount_usd              0
raised_amount_mn_usd           0
dtype: int64

In [560]:
round(100*(sector_df.isnull().sum()/len(sector_df.index)), 2)

permalink                   0.00
name                        0.00
homepage_url                4.76
category_list               0.55
status                      0.00
country_code                0.00
state_code                  0.19
region                      0.40
city                        0.40
founded_at                 16.21
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         45.66
funded_at                   0.00
raised_amount_usd           0.00
raised_amount_mn_usd        0.00
dtype: float64

In [561]:
#Import mapping.csv file
mapping = pd.read_csv('mapping.csv')
len(mapping.index)

688

In [563]:
#Extracting primary sectors from category_list and adding a new column 'primary_sector' with these values.
sector_primary = sector_df['category_list'].str.split('|',  expand = True)
sector_df['primary_sector'] = sector_primary.iloc[:,0]

In [564]:
mapping.iloc[:,0]

0                             NaN
1                              3D
2                     3D Printing
3                   3D Technology
4                      Accounting
5                Active Lifestyle
6                    Ad Targeting
7              Advanced Materials
8                Adventure Travel
9                     Advertising
10          Advertising Exchanges
11           Advertising Networks
12          Advertising Platforms
13                         Advice
14                      Aerospace
15                    Agriculture
16          Air Pollution Control
17                     Algorithms
18                    All Markets
19                   All Students
20            Alter0tive Medicine
21                         Alumni
22                       A0lytics
23                        Android
24                         Angels
25                    Animal Feed
26     Anything Capital Intensive
27                  App Discovery
28                  App Marketing
29                     App Stores
                  ...
658                     Usability
659        User Experience Design
660                User Interface
661                     Utilities
662       Vending and Concessions
663               Venture Capital
664                     Veteri0ry
665                         Video
666            Video Conferencing
667                   Video Games
668               Video on Demand
669               Video Streaming
670            Virtual Workforces
671                          VoIP
672               Waste Ma0gement
673                         Watch
674                         Water
675            Water Purification
676                     Wearables
677                  Web Browsers
678                    Web Design
679               Web Development
680                   Web Hosting
681                     Web Tools
682                      Weddings
683                     Wholesale
684              Wine And Spirits
685                      Wireless
686                         Women
687                  Young Adults
Name: category_list, Length: 688, dtype: object

In [565]:
#Cleaning the mapping dataframe. The 'na' in each category is replaced with '0' in the dataframe.
#Hence changing the '0' to 'na' again.
mapping['category_list'] = mapping['category_list'].str.replace('0', 'na', regex=False)

In [347]:
mapping['category_list']

0                             NaN
1                              3D
2                     3D Printing
3                   3D Technology
4                      Accounting
5                Active Lifestyle
6                    Ad Targeting
7              Advanced Materials
8                Adventure Travel
9                     Advertising
10          Advertising Exchanges
11           Advertising Networks
12          Advertising Platforms
13                         Advice
14                      Aerospace
15                    Agriculture
16          Air Pollution Control
17                     Algorithms
18                    All Markets
19                   All Students
20           Alternative Medicine
21                         Alumni
22                      Analytics
23                        Android
24                         Angels
25                    Animal Feed
26     Anything Capital Intensive
27                  App Discovery
28                  App Marketing
29                     App Stores
                  ...
658                     Usability
659        User Experience Design
660                User Interface
661                     Utilities
662       Vending and Concessions
663               Venture Capital
664                    Veterinary
665                         Video
666            Video Conferencing
667                   Video Games
668               Video on Demand
669               Video Streaming
670            Virtual Workforces
671                          VoIP
672              Waste Management
673                         Watch
674                         Water
675            Water Purification
676                     Wearables
677                  Web Browsers
678                    Web Design
679               Web Development
680                   Web Hosting
681                     Web Tools
682                      Weddings
683                     Wholesale
684              Wine And Spirits
685                      Wireless
686                         Women
687                  Young Adults
Name: category_list, Length: 688, dtype: object

In [566]:
#normalizing the mapping dataframe so that merge operation can be done appropriately.
mapping = pd.melt(mapping, id_vars = ["category_list"], var_name = "main_sector")

In [567]:
#Removing the unwanted rows which doesn't provide ant mapping information
mapping = mapping[~(mapping['value'] == 0)]

#Dropping the value column, since it is not useful.
mapping.drop(['value'],axis=1,inplace=True)

In [568]:
len(mapping.index)

688

In [569]:
#merging the sector data with main sector mapping
sector_df = pd.merge(sector_df,mapping.rename(columns={'category_list':'primary_sector'}), how = 'inner', on = 'primary_sector' )

In [570]:
sector_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,raised_amount_mn_usd,primary_sector,main_sector
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,10.000000,Media,Entertainment
1,/organization/90min,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,/funding-round/21a2cbf6f2fb2a1c2a61e04bf930dfe6,venture,NaN,06-10-2015,15000000.0,15.000000,Media,Entertainment
2,/organization/90min,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,/funding-round/bd626ed022f5c66574b1afe234f3c90d,venture,NaN,07-05-2013,5800000.0,5.800000,Media,Entertainment
3,/organization/90min,90min,http://www.90min.com,Media|News|Publishing|Soccer|Sports,operating,GBR,H9,London,London,01-01-2011,/funding-round/fd4b15e8c97ee2ffc0acccdbe1a98810,venture,NaN,26-03-2014,18000000.0,18.000000,Media,Entertainment
4,/organization/all-def-digital,all def digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,/funding-round/452a2342fe720285c3b92e9bd927d9ba,venture,A,06-08-2014,5000000.0,5.000000,Media,Entertainment
5,/organization/audiosocket,audiosocket,http://audiosocket.com,Media|Music|Technology,operating,USA,WA,Seattle,Seattle,01-05-2008,/funding-round/0959f59e3a89bc8db8c6ed9c646349fd,venture,NaN,02-05-2013,650000.0,0.650000,Media,Entertainment
6,/organization/audiosocket,audiosocket,http://audiosocket.com,Media|Music|Technology,operating,USA,WA,Seattle,Seattle,01-05-2008,/funding-round/4e3a53eec6c609943df752206070b23f,venture,A,02-09-2009,750000.0,0.750000,Media,Entertainment
7,/organization/audiosocket,audiosocket,http://audiosocket.com,Media|Music|Technology,operating,USA,WA,Seattle,Seattle,01-05-2008,/funding-round/bc0b412cf2fa7b739e4105ad756b47a4,venture,NaN,15-02-2012,1582300.0,1.582300,Media,Entertainment
8,/organization/babble,babble,http://www.babble.com,Media|News|Parenting,acquired,USA,NY,New York City,New York,01-12-2006,/funding-round/43cc678b39be3e684bb88501af05ff9b,venture,A,05-02-2009,2000000.0,2.000000,Media,Entertainment
9,/organization/babble,babble,http://www.babble.com,Media|News|Parenting,acquired,USA,NY,New York City,New York,01-12-2006,/funding-round/5fdb3dbeeb6eea0243702adc372130f3,venture,A,12-05-2009,1250000.0,1.250000,Media,Entertainment
10,/organization/babble,babble,http://www.babble.com,Media|News|Parenting,acquired,USA,NY,New York City,New York,01-12-2006,/funding-round/9948a4b334b8988c2a5e00bc8b4be3ec,venture,B,21-05-2010,3000000.0,3.000000,Media,Entertainment
11,/organization/bedloo,bedloo,http://bedloo.com,Media|News|Software,operating,USA,CA,Los Angeles,Thousand Oaks,01-10-2011,/funding-round/50155d27414ab5e0c24aa827281499f3,venture,NaN,15-09-2012,657589.0,0.657589,Media,Entertainment
12,/organization/bedloo,bedloo,http://bedloo.com,Media|News|Software,operating,USA,CA,Los Angeles,Thousand Oaks,01-10-2011,/funding-round/566f530f89904c91851c923431d83f33,venture,NaN,27-09-2013,412500.0,0.412500,Media,Entertainment
13,/organization/bedloo,bedloo,http://bedloo.com,Media|News|Software,operating,USA,CA,Los Angeles,Thousand Oaks,01-10-2011,/funding-round/e393b61f25149d58470db69a1d719999,venture,NaN,10-06-2013,848000.0,0.848000,Media,Entertainment
14,/organization/chefs-feed,chefsfeed,http://www.chefsfeed.com,Media|Mobile|Restaurants|Technology,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012,/funding-round/adca195749ae9ace84684723fbe75e5b,venture,A,26-02-2015,5000000.0,5.000000,Media,Entertainment
15,/organization/cipher-online-media,cipher online media,NaN,Media|News|Security,operating,USA,DC,"Washington, D.C.",Washington,NaN,/funding-round/ac336eb85452113b39adb1e2e108e403,venture,NaN,02-04-2015,1349999.0,1.349999,Media,Entertainment
16,/organization/curtco-media-group,curtco media group,NaN,Media|Publishing|Services,closed,USA,CA,Los Angeles,Malibu,NaN,/funding-round/80b0bf675ff33360862ae107182c7d90,venture,NaN,21-05-2003,100000000.0,100.000000,Media,Entertainment
17,/organization/genius-monkey,genius monkey,http://geniusmonkey.com,Media,operating,USA,AZ,Phoenix,Tempe,NaN,/funding-round/6651af18e8cec80b5df168d2e28cecb2,venture,NaN,17-03-2015,2000000.0,2.000000,Media,Entertainment
18,/organization/glass-media,glass media,http://www.glass-media.com,Media,closed,USA,TX,Dallas,Dallas,01-01-2012,/funding-round/cb7074009f3bd0becbebcdf08ed63a4e,venture,NaN,01-04-2015,30000.0,0.030000,Media,Entertainment
19,/organization/globalbased-technologies,globalbased technologies,NaN,Media|Technology|Trading,operating,USA,UT,Salt Lake City,Provo,NaN,/funding-round/cb89639fe33d140174d9c8936cb98dd1,venture,NaN,07-01-2009,3660942.0,3.660942,Media,Entertainment
20,/organization/huffingtonpost,the huffington post,http://www.huffingtonpost.com,Media|News|Publishing,acquired,USA,NY,New York City,New York,09-05-2005,/funding-round/7f05940c4d2dfecb8e50a0e5720e5065,venture,A,01-08-2006,5000000.0,5.000000,Media,Entertainment
21,/organization/huffingtonpost,the huffington post,http://www.huffingtonpost.com,Media|News|Publishing,acquired,USA,NY,New York City,New York,09-05-2005,/funding-round/9241ae16e08df17ebdc064e49e23035a,venture,B,01-09-2007,5000000.0,5.000000,Media,Entertainment
22,/organization/huffingtonpost,the huffington post,http://www.huffingtonpost.com,Media|News|Publishing,acquired,USA,NY,New York City,New York,09-05-2005,/funding-round/f92081e559b2405ef9f83074d980c3b1,venture,C,01-12-2008,25000000.0,25.000000,Media,Entertainment
23,/organization/manas-informatics,manas informatic,http://www.topnews.in,Media|News,operating,IND,23,Mohali,Mohali,05-05-2007,/funding-round/719e50301803d3918ffa558fc877e41c,venture,NaN,02-02-2008,160000.0,0.160000,Media,Entertainment
24,/organization/marine-construction-technologies,marine construction technologies,http://marinecontech.org/,Media,operating,USA,WA,Seattle,Seattle,01-01-2012,/funding-round/9a549453415fd1711a34f51c9abca9e3,venture,NaN,17-04-2015,125000.0,0.125000,Media,Entertainment
25,/organization/matchmine,matchmine,http://matchmine.com,Media|News|Reviews and Recommendations,closed,USA,MA,Boston,Needham,01-01-2007,/funding-round/41ac526630da57ad6eb9d02431b17657,venture,A,01-09-2007,10000000.0,10.000000,Media,Entertainment
26,/organization/media-group-of-america,media group of america,http://mgofa.com,Media,operating,USA,DC,"Washington, D.C.",Washington,01-01-2013,/funding-round/048d7be2b85a3b017177b4d9b0f25faf,venture,NaN,07-01-2015,1500000.0,1.500000,Media,Entertainment
27,/organization/mediabong,mediabong,http://www.mediabong.com,Media|Semantic Search|Video,operating,USA,NY,New York City,New York,30-05-2011,/funding-round/9282890ca87072025dc1807f400acee6,venture,B,13-05-2015,5000000.0,5.000000,Media,Entertainment
28,/organization/newscorporation,news corp,http://www.newscorp.com,Media|News|Publishing,ipo,USA,NY,New York City,New York,01-01-2013,/funding-round/8f6d7c4592e43e91e8688ba342bffcb7,venture,NaN,08-01-2010,12500000.0,12.500000,Media,Entertainment
29,/organization/nokeena,ankeena networks,http://www.ankeena.com,Media|Software,acquired,USA,CA,SF Bay Area,Santa Clara,01-01-2008,/funding-round/9225f2db6b1b74892d5de6a8744b94ea,venture,A,08-08-2008,9400000.0,9.400000,Media,Entertainment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38823,/organization/streamline-alliance,streamline alliance,http://www.streamline-alliance.com,Procurement,operating,USA,FL,Jacksonville,Kenansville,05-01-1999,/funding-round/8e9a810c4709bfb9ca41d4efb9d917ef,venture,A,01-01-2008,1000000.0,1.000000,Procurement,Others
38824,/organization/swajal,swajal,http://swajal.in/,Water Purification,operating,IND,10,New Delhi,Gurgaon,01-01-2011,/funding-round/aec61eeb145ab8ba222113df16c83fc4,venture,A,03-08-2015,1200000.0,1.200000,Water Purification,Cleantech / Semiconductors
38825,/organization/tactus-technology,tactus technology,http://www.tactustechnology.com,Human Computer Interaction,operating,USA,CA,SF Bay Area,Fremont,01-01-2008,/funding-round/0afeb81fab58fd5b03c9a64ec30b4cc4,venture,B,02-01-2014,17900000.0,17.900000,Human Computer Interaction,Others
38826,/organization/tactus-technology,tactus technology,http://www.tactustechnology.com,Human Computer Interaction,operating,USA,CA,SF Bay Area,Fremont,01-01-2008,/funding-round/e48e5b726d85e0da59ecad0b8daf0caa,venture,A,21-12-2011,6000000.0,6.000000,Human Computer Interaction,Others
38827,/organization/tap-in2,tap.in2,http://www.tapin2.co/,Music Venues|Software|Sports Stadiums,operating,USA,OH,Cleveland,Cleveland,16-09-2011,/funding-round/66fb1cd68c418f29fee73a41c5ea375d,venture,NaN,07-07-2015,525000.0,0.525000,Music Venues,Entertainment
38828,/organization/thisnext,thisnext,http://www.thisnext.com,Social Buying|Social Media,operating,USA,CA,Los Angeles,Santa Monica,01-12-2005,/funding-round/3ba5a2f756c9754968fc1c1638f4f415,venture,B,01-01-2008,5000000.0,5.000000,Social Buying,"Social, Finance, Analytics, Advertising"
38829,/organization/thisnext,thisnext,http://www.thisnext.com,Social Buying|Social Media,operating,USA,CA,Los Angeles,Santa Monica,01-12-2005,/funding-round/592259ebb95e05fd04e1bdc021a9d080,venture,C,28-01-2010,1199999.0,1.199999,Social Buying,"Social, Finance, Analytics, Advertising"
38830,/organization/thisnext,thisnext,http://www.thisnext.com,Social Buying|Social Media,operating,USA,CA,Los Angeles,Santa Monica,01-12-2005,/funding-round/e4b456b224280682adc488e9a503c40d,venture,A,01-01-2006,2500000.0,2.500000,Social Buying,"Social, Finance, Analytics, Advertising"
38831,/organization/thredhq,thredhq,https://thredhq.com/,Social + Mobile + Local|Social Network Media,operating,USA,CA,SF Bay Area,Berkeley,01-01-2012,/funding-round/54166cbfbb75fb604c17a94f2205570e,venture,A,18-09-2013,5000000.0,5.000000,Social + Mobile + Local,"Social, Finance, Analytics, Advertising"
38832,/organization/vee,vee,http://www.getvee.com,Social + Mobile + Local|Software,operating,IND,36,New Delhi,Noida,23-04-2014,/funding-round/3538ad48c1b16d95f34ce0900b392807,venture,NaN,06-11-2014,1000000.0,1.000000,Social + Mobile + Local,"Social, Finance, Analytics, Advertising"
38833,/organization/treatsie,treatsie,http://www.treatsie.com,Gift Exchange|Online Shopping|Specialty Foods,operating,USA,AR,Little Rock,Maumelle,01-09-2012,/funding-round/08021504ca24e678c2ab8e3695187390,venture,NaN,10-11-2015,25000.0,0.025000,Gift Exchange,Others
38834,/organization/treatsie,treatsie,http://www.treatsie.com,Gift Exchange|Online Shopping|Specialty Foods,operating,USA,AR,Little Rock,Maumelle,01-09-2012,/funding-round/a36427f3d944bc1446e51258f047fe32,venture,NaN,08-10-2013,300000.0,0.300000,Gift Exchange,Others
38835,/organization/trestletree,trestletree,http://www.trestletree.com/,Consumer Behavior|Employer Benefits Programs,acquired,USA,AR,Fayetteville,Fayetteville,01-01-2001,/funding-round/5d5eeb4e64f1eeba0cda3d0cfd122d7d,venture,B,04-06-2004,4000000.0,4.000000,Consumer Behavior,"Social, Finance, Analytics, Advertising"
38836,/organization/wizrocket-technologies,clevertap,https://clevertap.com/,Consumer Behavior|Mobile Analytics|SaaS,operating,USA,CA,SF Bay Area,Palo Alto,24-05-2013,/funding-round/195738852853780cc8f1220ba6fb761d,venture,A,03-08-2015,8000000.0,8.000000,Consumer Behavior,"Social, Finance, Analytics, Advertising"
38837,/organization/truist,truist,http://truist.com,Humanitarian|Human Resources|Software,acquired,USA,DC,"Washington, D.C.",Washington,01-01-2008,/funding-round/20d2bf826854b7a3399fd7e0c717a60e,venture,NaN,30-10-2008,900000.0,0.900000,Humanitarian,Others
38838,/organization/truist,truist,http://truist.com,Humanitarian|Human Resources|Software,acquired,USA,DC,"Washington, D.C.",Washington,01-01-2008,/funding-round/349668bb06e4b82fc5aeb08a474db725,venture,B,27-10-2005,3800000.0,3.800000,Humanitarian,Others
38839,/organization/us-forming-technologies,us forming technologies,NaN,Mechanical Solutions|Services|Technology,operating,USA,MI,Grand Rapids,Grand Rapids,NaN,/funding-round/4eb26faeb695b50bf92e4c43f1bae954,venture,NaN,31-12-2013,400500.0,0.400500,Mechanical Solutions,Cleantech / Semiconductors
38840,/organization/user-interface,user interface,http://www.userinterface.com,User Interface,operating,USA,CA,Bakersfield,California City,NaN,/funding-round/ade267714c6ee533323f46a25b2db237,venture,A,24-01-2001,8250000.0,8.250000,User Interface,Others
38841,/organization/vector-watch,vector watch,http://www.vectorwatch.com/,Watch|Wearables,operating,GBR,H9,London,London,01-01-2013,/funding-round/b010e14f723a45d5c8fadb5a857c620b,venture,NaN,25-11-2015,5000000.0,5.000000,Watch,Others
38842,/organization/washio,washio,http://www.getwashio.com,Service Industries,operating,USA,CA,Los Angeles,Los Angeles,01-01-2013,/funding-round/59026d26012c63b42fa2984c8f3c41ec,venture,A,09-06-2014,10500000.0,10.500000,Service Industries,Others
38843,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/0b1092058a5496f5a0f1e7ed0bbead80,venture,A,01-07-2007,2300000.0,2.300000,Tracking,Others
38844,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/14d131aad88a6ac85915fbdcfc35489f,venture,D,13-11-2013,2000000.0,2.000000,Tracking,Others
38845,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/1e42b58b81c24265feb64cf55c79671d,venture,B,12-12-2008,2700000.0,2.700000,Tracking,Others
38846,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/2bef2981d0db9747630882cc91e42ba5,venture,NaN,20-07-2011,5000000.0,5.000000,Tracking,Others
38847,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/67e2a4f223ba195d75c516c02157e269,venture,NaN,29-12-2010,3500000.0,3.500000,Tracking,Others
38848,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/b1777df10578e852be3afbe3bc325435,venture,D,22-07-2013,4220000.0,4.220000,Tracking,Others
38849,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/ed75e1064eb8b50c01c2e0b691ca9f1e,venture,C,25-06-2009,2000000.0,2.000000,Tracking,Others
38850,/organization/yapta,yapta,http://www.yapta.com,Tracking|Transportation|Travel,operating,USA,WA,Seattle,Seattle,01-07-2007,/funding-round/fc066baf3121b060b574214612a6c946,venture,NaN,29-07-2015,1786563.0,1.786563,Tracking,Others
38851,/organization/ziftit,ziftit,http://www.ziftit.com,Gift Registries|Shopping,closed,USA,CA,San Diego,San Diego,01-02-2011,/funding-round/d5713b26dbc5e0c65ccc426377449435,venture,NaN,09-07-2013,4000000.0,4.000000,Gift Registries,Others
38852,/organization/zonarsystems,zonar systems,http://www.zonarsystems.com,Task Management|Tracking,operating,USA,WA,Seattle,Seattle,01-01-2001,/funding-round/f0126dbea5d6075d8d4a1c2d106d9eca,venture,NaN,08-07-2015,50000000.0,50.000000,Task Management,Others

# Checkpoint 5: Sector Analysis 2

In [574]:
#Data frame D1 for country USA and funding amount between 5 and 15 M USD.
#Two new columns are added Total Amount Invested and Total count of Investments
D1 = sector_df.loc[(sector_df['country_code'] == 'USA') & (sector_df['raised_amount_mn_usd'] >= 5) & (sector_df['raised_amount_mn_usd'] <= 15)]
D1['Total Amount Invested'] = D1_groupBy['raised_amount_mn_usd'].transform('sum')
D1['Total count of Investments'] = D1_groupBy['raised_amount_mn_usd'].transform('count')

In [ ]:
#Data frame D2 for country GBR and funding amount between 5 and 15 M USD.
#Two new columns are added Total Amount Invested and Total count of Investments
D2 = sector_df.loc[(sector_df['country_code'] == 'GBR') & (sector_df['raised_amount_mn_usd'] >= 5) & (sector_df['raised_amount_mn_usd'] <= 15)]
D2['Total Amount Invested'] = D2_groupBy['raised_amount_mn_usd'].transform('sum')
D2['Total count of Investments'] = D2_groupBy['raised_amount_mn_usd'].transform('count')
D2

In [ ]:
#Data frame D3 for country IND and funding amount between 5 and 15 M USD.
#Two new columns are added Total Amount Invested and Total count of Investments
D3 = sector_df.loc[(sector_df['country_code'] == 'IND') & (sector_df['raised_amount_mn_usd'] >= 5) & (sector_df['raised_amount_mn_usd'] <= 15)]
D3['Total Amount Invested'] = D3.groupby('main_sector')['raised_amount_mn_usd'].transform('sum')
D3['Total count of Investments'] = D3.groupby('main_sector')['raised_amount_mn_usd'].transform('count')
D3

In [598]:
#Total number of investments (count) and Total amount of investment (USD) of USA
print(D1['raised_amount_usd'].count())
print(D1['raised_amount_usd'].sum())

108083.057956
12098

main_sector
Others                                     2950
Social, Finance, Analytics, Advertising    2714
Cleantech / Semiconductors                 2300
News, Search and Messaging                 1582
Health                                      909
Manufacturing                               799
Entertainment                               591
Automotive & Sports                         167
Blanks                                       86
Name: raised_amount_mn_usd, dtype: int64

In [ ]:
#Total number of investments (count) and Total amount of investment (USD) of GBR
print(D2['raised_amount_usd'].count())
print(D2['raised_amount_usd'].sum())

In [ ]:
#Total number of investments (count) and Total amount of investment (USD) of IND
print(D3['raised_amount_usd'].count())
print(D3['raised_amount_usd'].sum())

In [625]:
#Grouping dataframe for USA based on main_sector and then counting based on raised_amount_mn_usd 
D1_groupBy = D1.groupby('main_sector')
D1_groupBy['raised_amount_mn_usd'].count().sort_values(ascending = False).iloc[:3]

main_sector
Others                                     2950
Social, Finance, Analytics, Advertising    2714
Cleantech / Semiconductors                 2300
Name: raised_amount_mn_usd, dtype: int64

The top 3 main_sector based on the count of investments for USA are : `Others`, `Social, Finance, Analytics, Advertising` and `Cleantech / Semiconductors`

In [627]:
#Grouping dataframe for GBR based on main_sector and then counting based on raised_amount_mn_usd 
D2_groupBy = D2.groupby('main_sector')
D2_groupBy['raised_amount_mn_usd'].count().sort_values(ascending = False).iloc[:3]

main_sector
Others                                     147
Social, Finance, Analytics, Advertising    133
Cleantech / Semiconductors                 128
Name: raised_amount_mn_usd, dtype: int64

The top 3 main_sector based on the count of investments for GBR are : `Others`, `Social, Finance, Analytics, Advertising` and `Cleantech / Semiconductors`

In [631]:
#Grouping dataframe for IND based on main_sector and then counting based on raised_amount_mn_usd 
D3_groupBy = D3.groupby('main_sector')
D3_groupBy['raised_amount_mn_usd'].count().sort_values(ascending = False).iloc[:3]

main_sector
Others                                     110
Social, Finance, Analytics, Advertising     60
News, Search and Messaging                  52
Name: raised_amount_mn_usd, dtype: int64

The top 3 main_sector based on the count of investments for IND are : `Others`, `Social, Finance, Analytics, Advertising` and `News, Search and Messaging`

In [640]:
#Name of the company in USA for Others Sector, which is top in amount invested

top_sector_D1 = D1.loc[D1['main_sector'] == 'Others'].sort_values(by = "Total Amount Invested", ascending = False).iloc[0]
top_sector_D1['name']

'17zuoye'

In [641]:
#Name of the company in GBR for Others Sector, which is top in amount invested

top_sector_D2 = D2.loc[D2['main_sector'] == 'Others'].sort_values(by = "Total Amount Invested", ascending = False).iloc[0]
top_sector_D2['name']

'peak'

In [642]:
#Name of the company in IND for Others Sector, which is top in amount invested

top_sector_D3 = D3.loc[D3['main_sector'] == 'Others'].sort_values(by = "Total Amount Invested", ascending = False).iloc[0]
top_sector_D3['name']

'treebo hotels'

In [644]:
#Name of the company in USA for "Social, Finance, Analytics, Advertising" Sector, which is top in amount invested.

second_top_sector_D1 = D1.loc[D1['main_sector'] == 'Social, Finance, Analytics, Advertising'].sort_values(by = "Total Amount Invested", ascending = False).iloc[0]
second_top_sector_D1['name']

'h2o.ai'

In [645]:
#Name of the company in GBR for "Social, Finance, Analytics, Advertising" Sector, which is top in amount invested.

second_top_sector_D2 = D2.loc[D2['main_sector'] == 'Social, Finance, Analytics, Advertising'].sort_values(by = "Total Amount Invested", ascending = False).iloc[0]
second_top_sector_D2['name']

'aihit'

In [646]:
#Name of the company in IND for "Social, Finance, Analytics, Advertising" Sector, which is top in amount invested.

second_top_sector_D3 = D3.loc[D3['main_sector'] == 'Social, Finance, Analytics, Advertising'].sort_values(by = "Total Amount Invested", ascending = False).iloc[0]
second_top_sector_D3['name']

'coverfox insurance'

# Checkpoint 6: Plots